<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Receipete</title>
      {% else %}
      <title>Welcome to Receipete</title>
      {% endif %}
    </head>
    <body>
        <div>
            Receipete:
            <a href="/login">Login</a>
            <a href="/create-account">Create Account</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}  
        {% block content %}{% endblock %}
    </body>
</html>