<!doctype html>
{% extends "loggedin_base.html" %}

{% block content %}
    <style>
        .ingredient {
            display: flex;
            align-items: center;
            margin: 10px;
            background-color: #F2F3F5;
            border-radius: 10px
        }
        .ingredient img {
            max-width: 50px;
            max-height: 50px;
            margin: 10px;
        }
    </style>
    <h1>Search Ingredients</h1>
    <form action="" method="post" novalidate>
        {{ search_form.hidden_tag() }}
        <p>
            {{ search_form.ingredient.label }}<br>
            {{ search_form.ingredient(size=32) }}
        </p>
        <p>{{ search_form.submit() }}</p>
    </form> 
    <form action="" method="post" novalidate>
    {% if ingredients %}
    {% for ingredient in add_form.ingredients %}
    {% set ingredient_values = ingredient.label().split(',') %}
    {% set url_list = ingredient_values[1].split('</label>') %}
        <div class="ingredient">
            {{ ingredient() }}
            <img src="{{ 'https://spoonacular.com/cdn/ingredients_100x100/' + url_list[0] }}"/>
            {{ ingredient_values[0] }}
        </div>
    {% endfor %}
    <p>{{ add_form.submit() }}</p>
    {% endif %}
    </form>
{% endblock %}