<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Receipete</title>
      {% else %}
      <title>Welcome to Receipete</title>
      {% endif %}
    </head>
    <body>
<!--        <div>Receipete: <a href="/index">Home</a></div> -->
        <div>
            Receipete:
            <a href="/">Home</a>
            <a href="/ingredients/search">Add Ingredients</a>
            <a href="/pantry">Pantry</a>
            <a href="/logout">Log Out</a>
            <a href="/index">Recipes</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>