<!doctype html>
<html>
    <head>
      {% if title %}
      <title style="font-family:helvetica;">{{ title }} - Receipete</title>
      {% else %}
      <title style="font-family:helvetica;">Welcome to Receipete</title>
      {% endif %}
    </head>
    <body>
<!--        <div>Receipete: <a href="/index">Home</a></div> -->
        <div>
            <a style="font-family:helvetica; font-weight:bolder">Receipete: </a>
            <a style = "font-family:helvetica" href="/">Home</a>
            <a style = "font-family:helvetica" href="/ingredients/search">Add Ingredients</a>
            <a style = "font-family:helvetica" href="/pantry">Pantry</a>
            <a style = "font-family:helvetica" href="/logout">Log Out</a>
            <a style = "font-family:helvetica" href="/index">Recipes</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>