{% extends "loggedin_base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <style>
        .allergy {
            display: flex;
            align-items: center;
            background-color: #F2F3F5;
            border-radius: 10px;
            height: 50px;
            margin-bottom: 10px;
        }
        .allergy p {
            margin: 10px;
        }
        .allergies-title {
            display: flex;
            align-items: center;
        }
        .allergies-title h2 {
            margin: 20px 0px
        }
        .allergies-title button {
            margin-left: 10px;
        }
        .profile-bar {
            display: flex;
            align-items: center;
        }
        .profile-bar a {
            margin-left: 10px;
        }
        .profile-bar h1 {
            margin: 15px 0px;
        }
    </style>
    <div class="profile-bar">
        <h1>Profile</h1>
        <a href="{{ url_for('change_password')}}"><button class="btn btn-default">Change Password</button></a>
    </div>
    <a></a>
    <div class="allergies-title">
        <h2>Allergies</h2>
        <a href="{{ url_for('edit_allergies')}}"><button class="btn btn-default">Edit</button></a>
    </div>
    {% if allergies %}
        {% for allergy in allergies %}
            <div class="allergy">
                <p>• {{ allergy.type }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div class="allergy">
            <p>You currently have no allergies. If you have any allergies, go to the  <a href="{{ url_for('edit_allergies')}}">edit allergies form</a> to add any.</p>
        </div>
    {% endif %}
    <div class="recipes-title">
        <h2>Liked Recipes</h2>
    </div>
{% endblock %}