<!doctype html>
{% extends "loggedin_base.html" %}

{% block content %}
    <style>


    </style>
    <h1 style="font-family:helvetica;">Instructions</h1>
    {% if instructions %}
        
        <div class="instructions">
            <div>
                <img src="{{ instructions['image']  }}" />
                <p style = "font-weight:bolder"> Instructions: </p>
                <p>{{ instructions['instructions'] }}</p>
            </div>

        </div>
        <div class="ingredients">
           <span style = "font-weight:bolder">Ingredients: </span>
            {%for ingredient in ingredients%}
                <div>
                    <p> {{ ingredient[0] }}</p>
                </div>
            {%endfor%}
        </div>
    {% endif %}
{% endblock %}